{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-5">
        <div class="jumbotron regCon">
            {% if registered %}
                <h1>Thank you for registering!</h1>
            {% else %}
                <h1 class="text-center"><strong>Register Here</strong></h1>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    <hr>
                    {{ profile_form|crispy }}
                    <br>
                    <input type="submit" class="btn btn-block" value="Register">
                </form>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}